  <footer class="bg-white">
    <div class="container pt-2 mt-2 border-top " style="background-color:rgb(133, 168, 173);">
      <div class="row pb-4">
       
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mx-auto text-white">
          <h6 class="text-uppercase font-weight-bold mb-4 text-white">Links</h6>
          <ul class="list-unstyled mb-0">
            <div class = "text-white"><li class="mb-2 text-white"><a href="/" class="text-muted text-white">Home</a></li></div>
            <li class="mb-2 text-white"><a href="/aboutus" class="text-muted">About Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4"></h6>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2"></p>
      </div>
    </div>
  </footer>