<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mb-3">
    <a class="navbar-brand .navbar-text display-1 font-weight-bold"  style="background-color:rgb(133, 168, 173);"  href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="background-color:rgb(133, 168, 173);" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            App Stuff
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/game/new">App Form</a></li>
            <li><a class="dropdown-item" href="/game/list">App List</a></li>
            <li><a class="dropdown-item" href="/z_start_game">Apps</a></li>
            <li><a class= "dropdown-item" href="/score">Score Board</a></li>
            <!-- <li><a class="dropdown-item" href="/game/gameID">List of SLeep Clinics</a></li>
            <li><a class="dropdown-item" href="/game/delete/gameID">List of SLeep Clinics</a></li>
            <li><a class="dropdown-item" href="/game/edit/gameID">List of SLeep Clinics</a></li> -->

          </ul>
        </li>
        
  
        <li>
      </li> 
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">
              {{ current_user.gname }} 
            </a>
            
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>  
