<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>ABOUT US!</h1>

<p>Hello! we are a small group of 2 whoar eworking on an app that reduces the addictiveness of games</p>
<img src="https://us.123rf.com/450wm/tiodwiyanto/tiodwiyanto2106/tiodwiyanto210600275/169573474-no-game-icon-game-theme-technology-theme-infographics-and-other-graphic-related-assets.jpg?ver=6" alt="" width="50" class="mb-3">
<img src="">
<h2>Hello I am Lawrence</h2>
<h2>Hello I am Addison</h2>
<h2>Hello I am Luat</h2>
{% endblock %}