<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      This is an HTML comment
      You can write text in a comment and the content won't be visible in the page
    -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <!--
      This is the page head - it contains info the browser uses
      Like the title, which appears on the browser tab but not inside the page
      Further down you'll see the content that displays in the page
    -->
    <title>Hello World!</title>

    <!-- The website stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- The website JavaScript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <body style="background-color:powderblue;">
    <div class="about-section">
  <h1>About Us Page</h1>
  <p>We are Oakland Tech seniors. For our capstone project, we chose to create an app about game addiction.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://oakland.edu/Assets/Oakland/oumagazine/graphics/news/secs/2019/InformationTechnology_Kim_1280.jpg">
      <div class="container">
        <p class="title">Meet our Team</p>
        <p>This is our capstone project. We are building an app about game addiction. Our game, primiarly, is to let the user test out their attention span and distraction methods used by the Gaming Industry.   </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQHud_Ifk53acA/profile-displayphoto-shrink_800_800/0/1659080013140?e=2147483647&v=beta&t=aWbS6wGxmhkAyiwhL72ZHSpGYETq--bhkJbs1rT37HI" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Lawrence Lu</h2>
        <p class="title">Code Programer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>s_lawrence.lu@ousd.org</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/D5603AQEtUXj_nExHOA/profile-displayphoto-shrink_200_200/0/1689731669811?e=2147483647&v=beta&t=ObyJIEYMmadFDoZe49xMLbaNuqxX_8Jq-CdHuATVAWI" alt="John" style="width:100%">
      <div class="container">
        <h2>Addison Liang</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>s_addison.liang@ousd.org</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
    <div class="column">
    <div class="card">
      <img src="https://cdn.glitch.global/02938396-07d7-4705-a629-6a00218758cf/IMG_9279.jpg?v=1713805400534" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Luat Vo</h2>
        <p class="title">Reviewer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>s_luat.vo@ousd.org</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  </body>
</html>