<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>ABOUT US!</h1>

<p>Hello! we are a small group of 2 whoar eworking on an app that reduces the addictiveness of games</p>
<img src="https://us.123rf.com/450wm/tiodwiyanto/tiodwiyanto2106/tiodwiyanto210600275/169573474-no-game-icon-game-theme-technology-theme-infographics-and-other-graphic-related-assets.jpg?ver=6" alt="" width="50" class="mb-3">
<img src="">
<h1> Lawrence Lu (He/Him)</h1>
<img
  src="https://cdn.glitch.global/037177cd-eb48-4ab1-9a48-b64bee9647a9/IMG-1201.jpg?v=1693242013531"
  class="illustration"
  alt="Editor illustration"
  title="Click the image!"
  height ="100"
  width = "80"
/>
<div class="instructions">
  
<h3>
Piano :O
</h3>
<pre>
   | |   \
   | |    \
   | |     \___
   | |         \
   | |          \
0     _|_|___________|
/\/  /____|____________) 
. /  \_|__________________| 
|/__    | )(            )(
| |\\  :| )(           )(</pre>
<h2>Hello I am Addison</h2>
<h2>Hello I am Luat</h2>

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}