<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>App Yelp review!!!</h1>
<img src = "https://miro.medium.com/v2/resize:fit:1012/1*6mGFJh8XrCqOlBRRvf2Deg.png">
        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            <br>
            {{ form.hidden_tag() }}
            
            {{ form.name.label }} <br>
            {{ form.name(size=64) }}

            <!--List the errors for this field-->
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>
            {{ form.hidden_tag() }}
            
            {{ form.age.label }} <br>
            {{ form.age(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.age.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ form.hidden_tag() }}
            
            {{ form.price.label }} <br>
            {{ form.price(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ form.hidden_tag() }}
            
            {{ form.comment.label }} <br>
            {{ form.comment(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.comment.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ form.hidden_tag() }}
            
            {{ form.rating.label }} <br>
            {{ form.rating(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.rating.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
        -->
            {{form.submit()}}
        </form>
        
{% endblock %}
