<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}
{% block body %}
<div border-color: white;><h1 class = "monkey">Welcome to our Website/Game</h1></div>
<style>
.monkey{
    height:10rem;
    display:flex;
    align-items:center;
    justify-content:center;

    letter-spacing: 0.2rem;
    /*   border-right: 5px solid; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s, cursor 0.4s step-end infinite alternate;
    top: 30%;
    left: 50%;
    /* position: absolute; */
    font-family: "Franklin Gothic Heavy", Franklin Gothic;
    font-size: 5vw;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
      5px 5px 70px rgba(255, 255, 255, 0.5);
    /* transform: scale(1, 1.1) translate(-50%, 10%); */

    border-style: solid;
    border-color: white;
}
@keyframes cursor {
50% {
    border-color: transparent;
}
}
@keyframes typing {
from {
    width: 0;
}   }
</style>

<body style="background-color:powderblue;">
    <h2>Our app is called: Video Game Distraction Reducer</h2>
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFd7X8bfQ3MYm0DyrNaIrg-2osVA5zCU4cXchJU2Yeag&s">
    <p></p>
   
    <audio control autoplay>
        <source src="https://cdn.glitch.global/02938396-07d7-4705-a629-6a00218758cf/FIFTY%20FIFTY%20-%20Cupid%20(Twin%20Version)%20(Short%20Version).mp3?v=1714581403494" type="audio/mpeg">
      </audio>
      <br>
    <a href='/z_start_game'><button>Click me to start the game!</button></a>

</body>

<br><br><br>
{% endblock %}