
{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Scores</h1>
    </div>
    <div class="col">
        <a href="/z_start_game" class="btn btn-primary btn-sm mt-5" role="button">Play again?</a>
    </div>
</div>

{% if scores %}
    {% for score in scores %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Name</h3>
                {% endif %}

                <a href="/score{{score.id}}">
                    {{moment(score.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{score.author.fname}} {{score.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Subject</h3>
                {% endif %}
                {{score.score}}
            </div>
        </div>
    
    {% endfor %}
{% else %}
    <h1>No Scores yet</h1>
{% endif %}


    Seconds spent on page:&nbsp; <input id="seconds-spent" size="6" readonly="" />

<script>(function(){"use strict";

  var secondsSpentElement = document.getElementById("seconds-spent");
  
  requestAnimationFrame(function updateTimeSpent(){
      var timeNow = performance.now();
      
      secondsSpentElement.value = round(timeNow/1000);
      
      requestAnimationFrame(updateTimeSpent);
  });
  var performance = window.performance, round = Math.round;
  })();
 
var startTime = (new Date()).getTime();

window.onbeforeunload = function (event) {
    var timeSpent = (new Date()).getTime() - startTime,
        xmlhttp= new XMLHttpRequest();
    xmlhttp.open("POST", "your_url");
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    var timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
    xmlhttp.send(timeSpent);
};

  </script>

{% endblock %}