{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Scores</h1>
    </div>
    <div class="col">
        <a href="/score/new" class="btn btn-primary btn-sm mt-5" role="button">New Score</a>
    </div>
</div>
<h1 class="display-5">Name: {{score.name}}</h1>
<p class="fs-3 text-break">
    {% if score.author.image %}
        <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(score.author.image.read())}}">
    {% endif %}
       My Score: {{score.myscore}} <br>
       High Scores:  {{score.HighScores}}<br>
       Type of test: {{score.TypeOfTest}}<br>

</p>
<a href="/score/list" class="btn btn-primary btn-sm" role="button">New score</a>


{% if scores %}
    {% for score in scores %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5"></h3>
                {% endif %}

                <a href="/score/{{score.id}}">
                    {{moment(score.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{score.author.fname}} {{score.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Score</h3>
                {% endif %}
                {{score.name}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No App</h1>
{% endif %}

{% endblock %}