
{% extends "base.html" %}

{% block body %}
        <h1>Input Your Score!!!</h1>

        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            <br>
            {{ form.hidden_tag() }}
            
            {{ form.myscore.label }} <br>
            {{ form.myscore(size=64) }}

            <!--List the errors for this field-->
            {% for error in form.myscore.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>
            {{ form.hidden_tag() }}
            
            {{ form.HighScores.label }} <br>
            {{ form.HighScores(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.HighScores.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ form.hidden_tag() }}
            
            {{ form.TypeOfTest.label }} <br>
            {{ form.TypeOfTest(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.TypeOfTest.errors %}
                <span style="color: red;">[{{ error }}]</span>
                <div ></div>
            {% endfor %}
            <br>
            
    
            {{form.submit()}}
        </form>
        
{% endblock %} 
