{% extends 'base.html' %}

{% block body %}

{% if z_mathquiz %}
    {{moment(z_mathquiz.create_date).calendar()}} by {{z_mathquiz.author.fname}} {{z_mathquiz.author.lname}} 
    {% if z_mathquiz.modifydate %}
        modified {{moment(z_mathquiz.modifydate).calendar()}}
    {% endif %}
    <br>
    {% if z_mathquiz.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Math Quiz Attempt" href="/z_mathquiz/delete/{{z_mathquiz.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
    {% endif %}

    <h1 class="display-5">{{z_mathquiz.subject}}</h1>
    <p class="fs-3 text-break">
        {% if z_mathquiz.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(z_mathquiz.author.image.read())}}">
        {% endif %}
            1: {{z_mathquiz.question_1}} <br>
            2: {{z_mathquiz.question_2}} <br>
            3: {{z_mathquiz.question_3}} <br>
            4: {{z_mathquiz.question_4}} <br>
            5: {{z_mathquiz.question_5}}

    </p>
    <a href="/comment/new/{{z_mathquiz.id}}" class="btn btn-primary btn-sm" role="button">New Comment</a>

    {% if comments %}
    <h1 class="display-5">Comments</h1>
    {% for comment in comments %}
        {% if current_user == comment.author %}
            <a href="/z_mathquiz/delete/{{z_mathquiz.id}}"><img width="20" src="/static/delete.png"></a> 
            <a href="/z_mathquiz/edit/{{z_mathquiz.id}}"><img width="20" src="/static/edit.png"></a>
        {% endif %}
        {{moment(comment.create_date).calendar()}} {{comment.author.username}} 
        {% if comment.modifydate %}
            modified {{moment(comment.modifydate).calendar()}}
        {% endif %}
        <br>
        <p class="fs-3">
            {{comment.content}}
        </p>
    {% endfor %}
    {% else %}
        
    {% endif %}
{% else %}
    <h1 class="display-5">No Blog</h1>
{% endif %}

{% endblock %}