{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.question_1.label }} <br>
                {{ form.question_1(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.question_1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.question_2.label }} <br>
                {{ form.question_2(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.question_2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.question_3.label }} <br>
                {{ form.question_3(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.question_3.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.question_4.label }} <br>
                {{ form.question_4(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.question_4.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.question_5.label }} <br>
                {{ form.question_5(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.question_5.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
