<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <title>Document</title>
</head>
<body>
    math
    <P></P>
    <py-script>
        from random import randint
        a = randint(1, 50)
        b = randint(1, 50)
        answer = a + b

        question = "What is " + str(a) + " + " + str(b) + "?"
        print(question)
    </py-script>
    <form>
        <input type="text" name="ans" placeholder="Answer">
        <input type="submit" name="submit">
    </form>
    <py-script>
        if
    </py-script>
    <a href='/z_math_option1'><button>answer</button></a>
    <a href='/z_start_game'><button>6</button></a>


</body>
</html>