<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>How to lower video game addictions
    </h1>
    <a href='/z_math_option1'><button>  Start by setting boundaries for your gaming time. Gradually reduce the hours you spend playing games each day. 
    </button></a>
    <a href='/z_math_option1'><button>Sleeping at 1 am</button></a>
    <a href='/z_math_option1'><button>Play games on your mother's phone.</button></a>
    <a href='/z_math_option1'><button>Going on tiktok or instagram reels</button></a>
</body>
</html>