<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <style>
img {
  border-radius: 50%;
}
</style>
</head>
<body style="background-color:powderblue;">
    <h1>Which is a Strategy to lower video game addictions
    </h1>
    <a href='/z_math3'><button>  Slowly Reducing the Time You Spend Gaming
    </button></a>
    <a href='/z_math_option1'><button>Sleeping at 1 am</button></a>
    <IMG SRC="https://media2.giphy.com/media/vUO3OogY5WwXS/200w.gif?cid=6c09b952ynypltsz7ex4opekf6of9k7n0jjdg4pfltysrjcf&ep=v1_gifs_search&rid=200w.gif&ct=g"alt="Avatar" style="width:400px">
  <IMG SRC="">
</body>
</html>