<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <style>
img {
  border-radius: 60%;
}
</style>
  <h1>
    Marty the Fish
  </h1>
</head>
<body>
<body style="background-color:powderblue;">
    <p1>Marty the Clownfish
        Marty was sad in the sea. As a clownfish, he felt
        like he should be funny. As a clownfish, he was
        not funny.
        He was not funny at all. He was very serious and
        did not make anyone laugh.
        He told jokes to the lionfish, but they did not
        laugh. He told jokes to the
        dogfish, but they did not
        laugh either.
        “I am a clownfish, and
        I should be funny,”
        Marty said aloud.
     
        “You don’t have to be funny,” said a shark from
        nearby. “You are kind and helpful. You are
        friendly and smart.”
        “But clowns make people laugh, so a clownfish
        should make fish laugh,” said Marty.
        “The lionfish do not act like lions.
        The dogfish do not act like
        dogs,” the shark told him.
        “Marty, just be yourself.”
        So, Marty did just that. He stopped trying to tell
        jokes. Soon, the fish all liked him. Soon, he had
        a lot of fish friends.
        One day, Marty said, “I am going to tell you all
        a joke.”
        “Marty, no! No more jokes!”
        Marty said, “Just kidding!”
    </p1>
    <p>Why is marty sad?</p>
    <a href='/z_reading3'><button> Becuase he isn't funny
    </button></a>
    <a href='/z_reading1'><button>Because he is a loser</button></a>
  <a href='/z_reading3'><button> This feels like the SRI
    </button></a>
    <IMG SRC="https://gifdb.com/images/high/super-mario-long-nose-kp0412jrw8xmv0dd.gif">
</body>
</html>