

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p1>Money is Funny
        Mary saw her mom spend money on groceries.
        She saw her dad spend money on new tools.
        That all seemed funny to Mary.
        Money is just green paper, Mary thought. Why
        do people give my parents groceries and tools
        for green paper?
        Mary took out her big box of crayons. She
        colored some paper green. She took her green
        paper to the toy store in town.
        “I want to buy a toy,” Mary declared.
        “Here is some green paper.”
        The lady at the store said, “Sorry. That's
        not real money. It is just green paper.”
       
        Mary asked her dad about money. He said that
        money was a special type of green paper. He
        also said you have to go to work to earn
        money. That is the only green paper you can
        spend.
        “Can I work and earn some money?” Mary
        asked.
        “Yes,” said her dad. “Wash the car, and I will
        pay you.”
        Mary washed the car and got paid six dollars.
        She went back to the store and bought a toy.
        Now, she knows why her mom and dad work for
        money.
    </p1>
    <p>How did Mary try to make money?
    </p>
    <a href='/z_reading2'><button> eating tacos
    </button></a>
    <a href='/z_reading4'><button>coloring green paper and writing on it</button></a>
    <IMG SRC="https://media4.giphy.com/media/hQKiGV6MG8WmsHg2yx/200w.gif?cid=6c09b952x0q71246z8w6qsajftcaxy0dufwwxcoypn78w6to&ep=v1_gifs_search&rid=200w.gif&ct=g">
</body>
</html>